_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_TeamCity*
!.axoCover/settings.json
!.vscode/*
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!*.log
._*
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.browser
.builds
.cache
.classpath
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.fseventsd
.grunt
.history
.JustCode
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.ntvs_analysis.dat
.nuxt
.nyc_output
.paket/paket.exe
.pnp.js
.project
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vuepress/dist
.yarn-integrity
.yarn/unplugged/**/*
*.appx
*.aps
*.azurePubxml
*.bim_*.settings
*.bim.layout
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iws
*.jfm
*.jmconfig
*.launch
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.sln.iml
*.sublime-workspace
*.suo
*.svclog
*.tgz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*~
~$*
atlassian-ide-plugin.xml
bower_components
build/Release
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
Icon
lerna-debug.log*
lib-cov
logs
nCrunchTemp_*
Network Trash Folder
npm-debug.log*
orleans.codegen.cs
Package.StoreAssociation.xml
pids
project.fragment.lock.json
project.lock.json
yarn-debug.log*
yarn-error.log*
/.idea
/.nyc_output
/.pnp
/build
/coverage
/keys
/node_modules
/out
__pycache__/
_ReSharper*/
_UpgradeReport_Files/
.c9/
.cr/
.dynamodb/
.fake/
.fusebox/
.sass-cache/
.serverless/
.settings/
.vs/
$tf/
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
BundleArtifacts/
ClientBin/
cmake-build-debug/
coverage/
csx/
ecf/
FakesAssemblies/
Generated_Code/
ipch/
jspm_packages/
node_modules/
OpenCover/
paket-files/
publish/

!/dist
!/out
/luxcium.io
/assets
types.js
out/ts-build-info.lib
