assets/
backup/
build/
coverage/
.git/
luxcium.io
node_modules/
.nyc_output/
out/
scripts/
templates/
.vscode/
!src/
!tests/

*.txt
.directory
.editorconfig
.gitignore
.prettierignore

!.babelrc
!.eslintrc.json
!jest.config.json
!LICENSE
!linters-and-formater.jsonc
!package.json
!package-lock.json
!.prettierrc
!README.md
!.travis.yml
!tsconfig.json
!tsconfig.src-build.json
